@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<PBAmindSite.Dnn.PBAdminModul.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<style>
    .base {
        background-color: rgb(229, 19, 2);
        color: white;
        font-size: 25px;
        margin: 0 10px;
        border-color: rgb(0, 0, 0);
        border-width: 3px;
        border-style: solid;
    }

    .container {
    }

    .frissitesButton {
        padding: 5px;
    }

    .check-box {
    }
</style>

@{
    PirosBiros.Dnn.Dnn.PirosBiros.HelloWorld.Models.Item newItem = new PirosBiros.Dnn.Dnn.PirosBiros.HelloWorld.Models.Item();

}

<div class="container">
    <button class="base frissitesButton">Frissítés</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Név</th>
                <th scope="col">Teljes név</th>
                <th scope="col">Érték</th>
                <th scope="col">Aktív e</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.CurrencyName</td>
                    <td>@item.LongCurrencyName</td>
                    <td>@item.CurrencyValue</td>
                    <td><input id="@item.Id" class="check-box" type="checkbox" name="name1" checked="@item.IsActive" />&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    (function ($, Sys) {
        $(function () {
            $('.check-box').change(function () {
                var checked = $(this)[0].checked;
                @newItem.IsActive = checked;
                @newItem.CurrencyValue = 12.34;
                @newItem.CurrencyName = "asdf"";
                @newItem.LongCurrencyName = "asdf"";
                @newItem.Id = 6;
                @Url.Action("Edit", "Item", new { ctl = "Edit", item = newItem})
            });
        });
    }(jQuery, window.Sys));
</script>